#parte1 {
	background-color: cyan;
}
#parte2 {
	background-color: lightgray;
}
#parte3 {
	background-color: lightyellow;
}
#parte4 {
	background-color: #FEACAF;
}
#parte5 {
	background-color: lightgreen;
}
#parte6 {
	background-color: #E5E8E8;
}
#parte7 {
	background-color: yellow;
}
.centrar {
	text-align: center;
}